#addButton{
    margin-bottom: 5px;
    border-radius: 1cm;
    background-color: red;
    border: 5px double rgb(192, 0, 0);
    height: 0.9cm;
    width: 0.9cm;
    color: #2a2c30;
}

#addButton:hover{
    background-color: red;
    border: double rgb(133, 0, 0);
    box-shadow: 2px 2px 10px black;
}
